@import "tailwindcss";

@layer base {
  :root {
    --background: 19 19 19;
    --foreground: 226 226 226;

    --card: 31 31 31;
    --card-foreground: 226 226 226;

    --popover: 31 31 31;
    --popover-foreground: 226 226 226;

    --primary: 0 255 65;
    --primary-foreground: 0 57 7;

    --secondary: 255 211 147;
    --secondary-foreground: 67 44 0;

    --muted: 53 53 53;
    --muted-foreground: 185 204 178;

    --accent: 0 230 57;
    --accent-foreground: 0 34 3;

    --destructive: 255 180 171;
    --destructive-foreground: 105 0 5;

    --border: 59 75 55;
    --input: 42 42 42;
    --ring: 0 255 65;

    --radius: 0rem;
  }


  * {
    border-color: rgb(var(--border) / 1);
  }

  body {
    background-color: rgb(var(--background) / 1);
    color: rgb(var(--foreground) / 1);
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
  }
}
